# Beego Binary
api_svc_cfw

# Beego Swagger API Docs
swagger/

# Beego tmp
lastupdate.tmp

# locally required config files
public/css/*.min.css

# Editor junk
*.sublime-workspace
*.swp
.idea/
*.iml

.DS_Store
